::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #000000;
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #000000;
    background-color: #012345;
}

body {
    margin: 0;
    padding: 0;
    cursor: url(https://github.com/zhangsens/zhangsens.github.io/blob/master/img/ico/yudachi.png?raw=ture), url(https://github.com/zhangsens/zhangsens.github.io/blob/master/img/ico/yudachi.png?raw=ture), auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header {
    font-family: 幼圆;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    min-width: 1000px;
}

.header-background {
    height: 300px;
    width: 100%;
    background: url("../img/U-511.jpg") center;
    background-size: 100%;
}

.header-nav {
    position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    background: hsla(0, 100%, 100%, 1);
    box-shadow: 0px 3px 10px 2px hsla(0, 0%, 0%, .5);
}

.header-nav ul {
    padding-left: 15em;
    height: 80px;
}

.header-nav ul li {
    float: left;
    line-height: 80px;
    height: 80px;
    width: 120px;
    box-sizing: border-box;
}

.header-nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.header-nav ul li:hover,
.actived {
    border-bottom: 5px solid #66ccff;
}

.header-profile {
    position: absolute;
    top: -5em;
    left: 1em;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    border: 5px solid #ffffff;
    overflow: hidden;
}

.header-profile img {
    height: 100%;
    width: 100%;
}

.body {
    padding: 50px 0px;
    position: relative;
}

.body setion,
.body article {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 20px 30px;
    box-shadow: 0px 0px 10px #012345;
}

.body .select:hover {
    margin: 20px 20px;
    box-shadow: 0px 0px 20px #012345;
}

.my-info {
    width: 800px;
    margin: 0px auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #012345;
    opacity: .8;
}

.my-info .to-page {
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    font-weight: 900;
    color: hsla(0, 100%, 100%, 1);
    text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 1);
}

.my-info .to-page:hover {
    text-shadow: 0px 0px 10px hsla(0, 0%, 50%, 1);
}

.pd10 {
    padding: 10px;
}

.fl {
    display: flex;
}

.fg1 {
    flex-grow: 1;
}

.my-info>div {
    padding: 0 30px;
}

.my-info .poi {
    padding: 10px 45px;
}

.my-info .account {
    width: 200px;
    height: 200px;
    margin: auto;
}

.my-info .account img {
    width: 100%;
    height: 100%;
}

.article {
    margin: 20px;
}

.article small {
    color: gray;
}

.footer {
    font-family: cursive;
    text-align: center;
}

.scroll-3d {
    transition: 1s all ease;
    transform: perspective(2500px) rotateX(-90deg);
}

.scroll-3d-one {
    transform: perspective(2500px) rotateX(360deg) !important;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
}

.bg ul,
.bg ul li {
    height: 100%;
    width: 100%;
}

.bg ul li {
    opacity: 0;
    position: absolute;
    transition: 2s opacity linear;
}