<div class="header">

    <div class="header-background"></div>
    <div class="header-nav">
        <div class="header-profile">
            <a href="https://github.com/zhangsens">
                <img src="https://avatars4.githubusercontent.com/u/19851888?v=4&s=460">
            </a>
        </div>
        <ul>
            <li class="{% if page.list = 1 %}actived{% endif %}"><a href="https://zhangsens.github.io">主页</a></li>
            <li class="{% if page.list = 2 %}actived{% endif %}"><a href="https://zhangsens.github.io/about">关于我</a></li>
        </ul>
    </div>
</div>